## Полезные ссылки

**Начало работы**

- Anaconda (дистрибутив для Python, содержащий в том числе Jupyter Notebook и сам Python): https://www.anaconda.com/download/ - рекомендуется версия Python 3.6 или больше; не забудьте выбрать нужную операционную систему!
- документация по Jupyter: https://jupyter.readthedocs.io/en/latest/
- документация по pip (для установки пакетов в Python с помощью pip install): https://pip.readthedocs.io/en/latest/
- PyCharm: https://www.jetbrains.com/pycharm/

**Общее**

- для любых вопросов: https://www.google.com/
- для (почти) любых ответов: https://stackoverflow.com/
- профессиональный информационно-аналитический ресурс, посвященный машинному обучению, распознаванию образов и интеллектуальному анализу данных: http://www.machinelearning.ru/wiki/index.php?title=Заглавная_страница
- A visual introduction to machine learning: http://www.r2d3.us/visual-intro-to-machine-learning-part-1/

**Python & Jupyter**

- A Crash Course in Python for Scientists: http://nbviewer.jupyter.org/gist/rpmuller/5920182
- A Gallery of interesting Jupyter Notebooks: https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks
- Markdown Cheatsheet: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

**pandas**

- документация: http://pandas.pydata.org/pandas-docs/stable/
- 10 minutes to pandas: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Pandas Tutorial: DataFrames in Python: https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
- Cheet Sheet: https://www.analyticsvidhya.com/blog/2015/07/11-steps-perform-data-analysis-pandas-python/
- Visualization: http://pandas.pydata.org/pandas-docs/stable/visualization.html

**sklearn**

- документация и многое другое: http://scikit-learn.org/stable/

**Другие библиотеки**

- matplotlib: https://matplotlib.org/users/pyplot_tutorial.html
- seaborn: http://seaborn.pydata.org/

## Лабораторная работа 1: работа с Pandas.

Pandas - это библиотека Python, предоставляющая широкие возможности для анализа данных. С ее помощью очень удобно загружать, обрабатывать и анализировать табличные данные с помощью SQL-подобных запросов.

In [1]:
import pandas as pd

Основными структурами данных в Pandas являются классы Series и DataFrame. Первый из них представляет собой одномерный индексированный массив данных некоторого фиксированного типа. Второй - это двумерная структура данных, представляющая собой таблицу, каждый столбец которой содержит данные одного типа. Можно представлять её как словарь объектов типа Series.

С помощью библиотеки Pandas займемся анализом данных. Будем работать с данными о клиентах банка, который интересуется, произойдет ли просрочка платежа на 90 и более дней при выдаче кредита.

### 1
Прочтите данные из файла data.csv

*Функции, которые могут пригодиться при решении: `pd.read_csv(..., delimiter=',')`*

In [2]:
data = pd.read_csv("data.csv", delimiter=',')

### 2
Выведите описание прочтенных данных. 

*Функции, которые могут пригодиться при решении: `.describe()`*

In [3]:
data.describe()

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1094.000000,1350.000000,1350.000000,1350.000000,1350.000000,1307.000000
mean,675.500000,0.060000,3.577895,52.048889,0.257778,356.123363,6438.473492,8.434074,0.080000,0.986667,0.062222,0.737567
std,389.855743,0.237575,84.914699,15.009875,0.751718,1156.603074,7849.754675,5.129287,0.376634,1.008401,0.306555,1.086949
min,1.000000,0.000000,0.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,338.250000,0.000000,0.031140,40.000000,0.000000,0.175125,3300.000000,5.000000,0.000000,0.000000,0.000000,0.000000
50%,675.500000,0.000000,0.156891,52.000000,0.000000,0.367049,5222.500000,8.000000,0.000000,1.000000,0.000000,0.000000
75%,1012.750000,0.000000,0.543145,63.000000,0.000000,0.807001,8055.250000,11.000000,0.000000,2.000000,0.000000,1.000000
max,1350.000000,1.000000,2340.000000,97.000000,10.000000,15466.000000,208333.000000,31.000000,5.000000,8.000000,5.000000,8.000000

### 3
Отобразите несколько первых и несколько последних записей.

*Функции, которые могут пригодиться при решении: `.head(), .tail()`*

*Какие параметры можно передать этим функциям?*

In [4]:
display(data.head(5))
display(data.tail(10))

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1340,1341,0,0.002428,77,0,0.238471,3165.0,13,0,1,0,0.0
1341,1342,0,0.173949,68,0,3015.000000,NaN,7,0,2,0,0.0
1342,1343,0,0.047198,74,0,0.375672,9305.0,8,0,5,0,8.0
1343,1344,0,0.202775,59,0,6994.000000,NaN,23,0,3,0,2.0
1344,1345,0,0.087406,32,0,0.288978,1750.0,8,0,0,0,2.0
1345,1346,0,0.000000,39,0,0.055916,4166.0,5,0,0,0,0.0
1346,1347,0,0.045694,49,0,0.300175,4000.0,14,0,1,0,1.0
1347,1348,0,0.022780,53,0,0.323068,10000.0,14,0,2,0,1.0
1348,1349,0,0.036934,56,0,0.287935,8362.0,8,0,1,0,2.0
1349,1350,0,0.000000,62,0,1463.000000,NaN,5,0,1,0,0.0

### 4
Прочтите в файле `DataDictionary-ru.txt`, что означают столбцы матрицы. Какому типу принадлежит каждый столбец (вещественный, целый, категориальный)?

In [5]:
dict = open("DataDictionary-ru.txt", "r")
print(dict.read())

SeriousDlqin2yrs
Произойдет ли просрочка платежа на 90 или более дней в ближайшие 2 года (Y/N)

RevolvingUtilizationOfUnsecuredLines
Процент оставшихся денег на всех кредитных картах   (%)

age
Возраст (integer)

NumberOfTime30-59DaysPastDueNotWorse
Количество кратковременных просрочек платежа (30-59 дней) за последние 2 года   (integer)

DebtRatio
Выплачиваемые в месяц проценты от долга, алименты, бытовые расходы, деленные на месячный доход (если месячный доход неизвестен, то абсолютная величина выплат)  (%)

MonthlyIncome
Месячный доход  (real)

NumberOfOpenCreditLinesAndLoans
Количество кредитов (или кредитных карт) за исключением ипотеки (integer)

NumberOfTimes90DaysLate
Кредитная история: количество серьезных просрочек платежа на 90 дней или более (integer)

NumberRealEstateLoansOrLines
Количество ипотек   (integer)

NumberOfTime60-89DaysPastDueNotWorse
Количество среднесрочных просрочек платежа (60-89 дней) за последние 2 года (integer)

NumberOfDependents
Количество иждивенцев в семье, включая самого клиента   (integer)

### 5

Заметьте, что столбец `DebtRatio` содержит неправдоподобные данные. Только значения, соответствующие известному месячному доходу, являются отношениями. Остальные – абсолютные значения месячных выплат процентов. 

Исправьте данные, сделав все значения столбца `DebtRatio` абсолютными (умножьте их на `MonthlyIncome`).  Чтобы ваша программа быстро работала на полных данных, постарайтесь не использовать цикл.

#### *Функции, которые могут пригодиться при решении:*

Обращение к элементам DataFrame:
  * элемент: `data.loc[i, 'названиеСтолбца']`
  * столбец: `data['названиеСтолбца']`
  * подматрица: `data.loc[a:b, списокНазванийСтолбцов]`

Условная индексация:
* `data.loc[data['столбец'] > 20, списокНазванийСтолбцов]`

лучше писать так:

* `i = data['столбец'] > 20`  # вектор `True` и `False`
* `data.loc[i, 'названиеСтолбца']`

У подматриц номера строк наследуются от исходной.

* `pandas.isnull(скаляр или массив)` - проверка, является ли значение неопределенным (`NaN`)
* `pandas.notnull(скаляр или массив)` - проверка, является ли значение определенным (не `NaN`)

In [6]:
i = pd.notnull(data['MonthlyIncome'])
data.loc[i, 'DebtRatio'] *= data.loc[i, 'MonthlyIncome']
data.tail(10)

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1340,1341,0,0.002428,77,0,754.761528,3165.0,13,0,1,0,0.0
1341,1342,0,0.173949,68,0,3015.000000,NaN,7,0,2,0,0.0
1342,1343,0,0.047198,74,0,3495.624331,9305.0,8,0,5,0,8.0
1343,1344,0,0.202775,59,0,6994.000000,NaN,23,0,3,0,2.0
1344,1345,0,0.087406,32,0,505.711022,1750.0,8,0,0,0,2.0
1345,1346,0,0.000000,39,0,232.944085,4166.0,5,0,0,0,0.0
1346,1347,0,0.045694,49,0,1200.699824,4000.0,14,0,1,0,1.0
1347,1348,0,0.022780,53,0,3230.676930,10000.0,14,0,2,0,1.0
1348,1349,0,0.036934,56,0,2407.712069,8362.0,8,0,1,0,2.0
1349,1350,0,0.000000,62,0,1463.000000,NaN,5,0,1,0,0.0

### 6

Поменяйте имя столбца на `Debt`.

*Функции, которые могут пригодиться при решении: `.rename(columns={'староеИмя':'новоеИмя'}, inplace=True)`*

In [7]:
data.rename(columns={'DebtRatio':'Debt'}, inplace=True)
data.tail(10)

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,Debt,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1340,1341,0,0.002428,77,0,754.761528,3165.0,13,0,1,0,0.0
1341,1342,0,0.173949,68,0,3015.000000,NaN,7,0,2,0,0.0
1342,1343,0,0.047198,74,0,3495.624331,9305.0,8,0,5,0,8.0
1343,1344,0,0.202775,59,0,6994.000000,NaN,23,0,3,0,2.0
1344,1345,0,0.087406,32,0,505.711022,1750.0,8,0,0,0,2.0
1345,1346,0,0.000000,39,0,232.944085,4166.0,5,0,0,0,0.0
1346,1347,0,0.045694,49,0,1200.699824,4000.0,14,0,1,0,1.0
1347,1348,0,0.022780,53,0,3230.676930,10000.0,14,0,2,0,1.0
1348,1349,0,0.036934,56,0,2407.712069,8362.0,8,0,1,0,2.0
1349,1350,0,0.000000,62,0,1463.000000,NaN,5,0,1,0,0.0

### 7

Вычислите средний ежемесячный доход и присвойте всем клиентам с неизвестным доходом полученное число.

*Функции, которые могут пригодиться при решении: `.mean()`*

*Другие описательные статистики:* https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats

In [8]:
meanIncome = data['MonthlyIncome'].mean()
i = pd.isnull(data['MonthlyIncome'])
data.loc[i, 'MonthlyIncome'] = meanIncome
data.tail(10)

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,Debt,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1340,1341,0,0.002428,77,0,754.761528,3165.000000,13,0,1,0,0.0
1341,1342,0,0.173949,68,0,3015.000000,6438.473492,7,0,2,0,0.0
1342,1343,0,0.047198,74,0,3495.624331,9305.000000,8,0,5,0,8.0
1343,1344,0,0.202775,59,0,6994.000000,6438.473492,23,0,3,0,2.0
1344,1345,0,0.087406,32,0,505.711022,1750.000000,8,0,0,0,2.0
1345,1346,0,0.000000,39,0,232.944085,4166.000000,5,0,0,0,0.0
1346,1347,0,0.045694,49,0,1200.699824,4000.000000,14,0,1,0,1.0
1347,1348,0,0.022780,53,0,3230.676930,10000.000000,14,0,2,0,1.0
1348,1349,0,0.036934,56,0,2407.712069,8362.000000,8,0,1,0,2.0
1349,1350,0,0.000000,62,0,1463.000000,6438.473492,5,0,1,0,0.0

### 8

Используя метод `groupby`, оцените вероятности невозврата кредита (`SeriousDlqin2yrs=1`) для различных значений количества иждивенцев (`NumberOfDependents`).  

Проделайте аналогичную процедуру для различных значений столбца `NumberRealEstateLoansOrLines`

*Подсказка:*
`data['столбец1'].groupby(data['столбец2']).mean()`  *-- расчет средних значений столбца1 по группам из столбца2*

In [9]:
# место для кода

## Визуализация данных

In [10]:
import matplotlib.pyplot as plt

#  функция, позволяющая выводить графики прямо в ноутбук
%matplotlib inline

Matplotlib позволяет удобно визуализировать табличные данные.

*Функции, которые могут пригодиться при решении:*

* Рисование:
   * `plt.plot(x, y)`  см. подробнее http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.plot
   * `plt.show()`
   * `plt.scatter(x, y)` - график рассеяния, см. http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.scatter
   * `plt.hist()` - гистограмма, см. http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.hist
* Рисование нескольких графиков на одном:

  `fig, ax = plt.subplots()
   ax.hist(...)
   ax.hist(...)
   plt.show()`
   
* Логарифмическая шкала:
    * `ax.set_xscale('log')`  или `ax.set_yscale('log')`
* Ограничение области графика:
    * `ax.axis([x1, x2, y1, y2])`


### 9a

Постройте график рассеяния на осях `age` и `Debt`. Cиним отметьте клиентов без серьезных задолженностей (`SeriousDlqin2yrs = 0`) и красным — должников (`SeriousDlqin2yrs = 1`).

In [11]:
# место для кода

### 9b
Постройте на одном графике две **нормированные** плотности распределения: красную – для месячного дохода клиентов с задолженностями, синюю – для месячного дохода клиентов без задолженностей. По оси абсцисс отобразите значения до 25000.

In [12]:
# место для кода

### 9c*
Визуализируйте попарные зависимости между небинарными признаками `'age', 'MonthlyIncome', 'NumberOfDependents'`. Ограничьте при этом месячный доход значением 25000.

Какие закономерности вы можете наблюдать на получившихся графиках?

*Функции, которые могут пригодиться при решении: `pd.plotting.scatter_matrix()`*

In [13]:
# место для кода